<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <p>(* denotes equal contribution)</p>
    
    <p>Ding, T., <strong>Gibbs, I.</strong>, and Tibshirani, R. (2025+).
    <a href="https://arxiv.org/abs/2512.23671">Calibrated multi-level quantile forecasting</a>.
    <em>arXiv preprint.</em></p>
        
    <p><strong>Gibbs, I.</strong><sup>*</sup>, Cherian, J.<sup>*</sup>, and Candès, E. (2025+).
    <a href="https://arxiv.org/abs/2511.00820">Correcting the coverage bias of quantile regression</a>.
    <em>arXiv preprint.</em></p>
    
    <p><strong>Gibbs, I.</strong> and Tibshirani, R. (2025+).
    <a href="https://arxiv.org/abs/2510.12769">Sample-efficient omniprediction for proper loss functions</a>.
    <em>arXiv preprint.</em></p>
    
    <p><strong>Gibbs, I.</strong> and Candès, E. (2025+).
    <a href="https://arxiv.org/abs/2502.20579">Characterizing the training-conditional coverage of full conformal inference in high dimensions</a>.
    <em>arXiv preprint.</em></p>

    <p><strong>Gibbs, I.</strong>, Cherian, J., and Candès, E. (2025).
    <a href="https://arxiv.org/abs/2305.12616">Conformal prediction with conditional Guarantees</a>.
    <em>Journal of the Royal Statistical Society: Series B.</em></p>

    <p>Cherian, J., <strong>Gibbs, I.</strong>, and Candès, E. (2024).
    <a href="https://arxiv.org/abs/2406.09714">Large language model validity via enhanced conformal prediction methods</a>.
    <em>Advances in Neural Information Processing Systems.</em></p>

    <p><strong>Gibbs, I.</strong> and Candès, E. (2024).
    <a href="https://jmlr.org/papers/volume25/22-1218/22-1218.pdf">Conformal inference for online prediction with arbitrary distribution shifts</a>.
    <em>Journal of Machine Learning Research.</em></p>

    <p><strong>Gibbs, I.</strong> and Candès, E. (2021).
    <a href="https://proceedings.neurips.cc/paper_files/paper/2021/file/0d441de75945e5acbc865406fc9a2559-Paper.pdf">Adaptive conformal inference under distribution shift.</a>
    <em>Advances in Neural Information Processing Systems</em>. (oral presentation)</p>

    <p><strong>Gibbs, I.</strong> and Chen, L. (2020).
    <a href="https://www.cambridge.org/core/journals/advances-in-applied-probability/article/asymptotic-properties-of-random-voronoi-cells-with-arbitrary-underlying-density/3A07C4AD0C27C09891D9D7D9C388F0A3">Asymptotic properties of random Voronoi cells with arbitrary underlying density</a>.
    <em>Advances in Applied Probability.</em></p>

    <p><strong>Gibbs, I.</strong><sup>*</sup>, Leavey, K.<sup>*</sup>, Benton, S.J., Grynspan, D., Bainbridge, S.A., and Cox, B.J. (2019).
    <a href="https://www.ajog.org/article/S0002-9378(18)30872-X/fulltext">Placental transcriptional and histologic subtypes of normotensive fetal growth restriction are comparable to preeclampsia</a>.
    <em>American Journal of Obstetrics and Gynecology.</em></p>
<!--    {% if page.title == "Home" %}-->
<!--      {% for item in site.data.publications.featured %}-->
<!--        <p><a href="{{ item.url }}">{{ item.name }}</a></p>-->
<!--      {% endfor %}-->
<!--    {% else %}-->
<!--      {% for item in site.data.publications.index %}-->
<!--        <p><a href="{{ item.url }}">{{ item.name }}</a></p>-->
<!--      {% endfor %}-->
<!--    {% endif %}-->
  </div>
</div>
